__pycache__/
*.pyc

staff_accounts.csv
activity_log.csv
appointments.csv
announcements.txt

export.csv
served_patients.csv
backup_*.csv

gui.cpython-313.pyc
logic.cpython-313.pyc
utils.cpython-313.pyc

.venv/
venv/

.vscode/